@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff") format("woff"),
  url("../fonts/OpenSans-Bold.woff2") format("woff2"),
  url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff") format("woff"),
  url("../fonts/OpenSans-Regular.woff2") format("woff2"),
  url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "OpenSans-Bold";
  font-weight: 4.688vw;
  font-size: 4.688vw;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 111.11%;
}

h2 {
  font-family: "OpenSans-Bold";
  font-size: 4.167vw;
  line-height: 90%;
  color: #c1c1c1;
  text-transform: uppercase;
}

h3 {
  font-family: "OpenSans-Bold";
  font-size: 1.875vw;
  line-height: 100%;
  color: #c1c1c1;
  text-transform: uppercase;
}

p {
  font-family: "OpenSans-Regular";
  font-size: 1.042vw;
  letter-spacing: 1px;
}


/*ШАПКА*/


.block-header {
  display: flex;
  background-image: url(../images/football_1920.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.block-header::after {
  content:"";
  background-color: rgba(27, 32, 69, 0.9);
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 2.1vw 9.4vw 6vw 9.4vw;
  z-index: 2;
}

.logo {
  display: flex;
  align-self: center;
}

.logo-svg {
  width: 10vw;
  height: 2.87vw;
}

.header-text {
  display: flex;
  flex-direction: column;
  margin-top: 14.6vw;
  color: #ffffff;
}

.block-one-text {
  display: flex;
}

.block-two-text {
  display: flex;
  justify-content: flex-end;
}


/*Шапка кнопки*/


.header-button {
  display: flex;
  margin-top: 13.56vw;
  align-self: center;
  justify-content: space-between;
}
 
.header-button:nth-child(1n) {
  justify-content: space-between;
}
 
.svg-batton { 
  width: 51px;
  height: 51px;
  margin: 0 25px 10px 0;
}

.svg-batton-google {
  width: 51px;
  height: 51px;
  margin-right: 25px;
  align-self: center;
}
 
.button-apple,
.button-google  {
  display: flex;
  width: 311px;
  padding: 7px 0 7px 40px;
  border-radius: 50px;
  background-color: #5e42b0;
  border: none;
  cursor: pointer;
}
 
.button-google {
  padding: 7px 0 7px 57px;
}

.button-apple {
  margin-right: 2.09vw;
}
 
.button-google:hover  {
  position: relative;
  z-index: 2;
  background-color: #5e55b5;
}
 
.button-apple:hover  {
  position: relative;
  z-index: 2;
  background-color: #5e55b5;
}
 
.text-batton {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  align-items: flex-start;
  align-self: center;
}
 
.text-batton-two {
  display: flex;
  align-items: flex-start;
  font-family: "OpenSans-bold";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}


/*БЛОК НОВОСТЕЙ*/



/*Футболист*/

.block-sport-news {
  display: flex;
  flex-direction: column;
  width: 100vw;  
  position: relative;
}

.block-footbaler {
  display: flex;
  flex-direction: column;
  padding-top: 6vw;
}

.title-chapter-players {
  padding: 0 9.3vw 5.55vw 52.5vw;
  color: #e7e7e7;
}

.footbaler {
  display: flex;
  width: 31.2vw;
  height: auto;
  position: absolute;
  align-self: end;
  right: 50vw;
  top: 2vw;
}

.picture-footbaler {
  width: 100%;
}

.number-connection,
.number-collaboration,
.number-growth {
  display: inline-flex;
  align-items: start;
  text-transform: uppercase;
  margin-bottom: 1.7vw;
}

.block-number,
.block-number-growth {
  font-family: "OpenSans-Bold";
  font-weight: 700;
  font-size: 0.833vw;
  letter-spacing: 1px;
  margin-right: 0.6vw;
}

.block-number::after {
  content: "";
  display: flex;
  height: 0.27vw;
  border-radius: 25px;
  background: #5e42b0;
  margin-top: 0.2vw;
}

.block-number-growth::after {
  content: "";
  display: flex;
  height: 0.27vw;
  border-radius: 25px;
  background: #fff;
  margin-top: 0.2vw;
}

.block-one {
  padding: 0 9.4vw 2.8vw 52.5vw;
  background-color: #fff;
}

.block-two {
  padding: 3.2vw 9.4vw 2.8vw 52.5vw;
  background-color: #f6f4fa;
}

.block-three {
  padding: 3.2vw 9.4vw 2.8vw 52.5vw;
  background-color: #5e42b0;
}

.text-block-growth {
  color: #fff;
}


/*Баскетболист*/


.title-chapter-basketbal {
  padding: 0 9.4vw 5.7vw 9.4vw;
  color: #e7e7e7;
}

.block-basketbal {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 6.25vw;
}

.basketbal {
  display: flex;
  align-self: flex-end;
  width: 54vw;
  height: auto;
  position: absolute;
  top: 1vw;
  right: 4.5vw;
}

.picture-basketbal {
  width: 100%;
}

.number-connection-basketbal,
.number-collaboration-basketbal,
.number-growth-basketbal {
  display: inline-flex;
  align-items: start;
  text-transform: uppercase;
  margin-bottom: 1.4vw;
}

.block-basketbal-one{
  display: flex;
  padding: 0 50vw 3.13vw 10vw;
  flex-direction: column;
}

.block-basketbal-two {
  display: flex;
  flex-direction: column;
  padding: 3.13vw 50vw 4.2vw 10vw;
  background: #f5f6f7;
}

.block-basketbal-three {
  background: #0a0e34;
  color:#fff;
  display: flex;
  flex-direction: column;
  padding: 3.13vw 50vw 2.9vw 10vw;
}

.block-number-three {
  font-family: "OpenSans-Bold";
  font-weight: 700;
  font-size: 0.833vw;
  letter-spacing: 1px;
  padding-right: 0.6vw;
  color: #9173e6;
}

.block-number-three::after {
  content: "";
  display: flex;
  height: 0.27vw;
  border-radius: 25px;
  background: #fff;
  margin-top: 0.2vw;
}

/*Колонка новостей*/

.news-column {
  display: flex;
  width: 100vw;
  flex-direction: column;
}

.news-text-men {
  flex-grow: 1;
  padding: 13.2vw 13.7vw 0 7vw;
  flex-direction: column;
} 

.number-post,
.number-post-coach,
.number-post-two {
  display: flex;
  flex-basis: 50vw;
}

.number-post-coach {
  order: 1;
}

.news-block-men,
.news-block-coach,
.news-block-two {
  display: flex;
  flex-grow: 1;
  height: 37.33vw;
}

.picture-men {
  display: flex;
  flex-basis: 50vw;
}

.picture-news {
  width: 50vw;
}

.news-block {
  display: flex;
}

.post-number {
  display: flex;
  width: 8.8vw;
  height: 8.2vw;
  background-color: #5e42b0;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 45.55vw;
  margin-top: 11vw;
}

.post-number-coach {
  display: flex;
  width: 8.8vw;
  height: 8.2vw;
  background-color: #5e42b0;
  z-index: 1;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 11.2vw;
  left: 45.55vw;
}

.number {
  display: flex;
  flex-direction: column-reverse;
  color: #f5f6f7;
  font-family: "OpenSans-Bold";
  font-weight: 700;
  font-size: 1.250vw;
  letter-spacing: 1px;
  line-height: 2.5vw;
  width: auto;
  height: 5px;
  background: #8f7bc8;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  position: absolute;
  top: 5vw;
}

.news-text-men {
  display: flex;
}

.news-text-coach {
  flex-basis: 50vw;
  padding: 13.2vw 5vw 10vw 10vw;
}

.text-block {

}

.text {
  margin-top: 6.3vw;
  font-size: 1.250vw;
}


/*Секция подвала*/


.logo-footer {
  margin-top: 13.5vw;
  z-index: 1;
}
 
.logo-icon-svg {
  z-index: 2;
}

.logo-linc {
  display: flex;
  justify-content: center;
}
 
.batton-download {
  display: flex;
  width: 100vw;  
  z-index: 3;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
 
.footer-batton {
  background-color: #53399f;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  outline: none;
  display: flex;
  width: 130px;
  height: 137px;
}
 
.footer-batton:hover  {
  z-index: 2;
  background-color: #5e55b5;
}
 
.svg-button {
  display: flex;
  height: 86px;
  align-self: center;
  padding-left: 20px;
}
 
.footer-text {
  display: flex;
  flex-direction: column;
  margin-left: 1.4vw;
}
 
.footer-text-title {
  color: #ffffff;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  font-size: 4.1vw;
  letter-spacing: 4px;
  line-height: 79px;
}
 
.footer-download-text {
  font-size: 1.563vw;
  line-height: 113,333%;
  color: #a496ca;
  font-family: "OpenSans-Regular";
  font-weight: 400;
  text-transform: uppercase;
}
 
.footer-block-news {
  display: flex;
  flex-direction: column;
  background-image: url("../images/game_1280.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding-bottom: 2.6vw;
}
 
.footer-block-news::after {
  content:"";
  background-color: rgba(27, 32, 69, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
 
.data-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 12vw;
}
 
 /*Секция кнопок подвал*/
 
.section-button-footer {
  display: flex;
  padding: 0 9.4vw 0 9.4vw;
  align-self: center;
  justify-content: space-between;
  margin-top: 8.44vw;
  z-index: 1;
}


@media all and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 8.399vw;
    letter-spacing: 3px;
  }
  
  h2 {
    font-size: 10.4vw;
    line-height: 60px;
  }
  
  h3 {
    font-size: 4.178vw;
  }
  
  p {
    font-size: 2.089vw;
  }
  
  
  .logo-svg {
    width: 26vw;
    height: 7vw;
  }

  .block-header {
    background-image: url(../images/football_767.jpg);
    background-size: 100% 110%;
  }

  .header-content {
    padding: 5.3vw 9vw 12vw 9vw;
  }

  .header-text {
    margin-top: 23.6vw;
  }
  
  .block-two-text {
    padding-left: 14vw;
  }

  .header-button {
    margin-top: 40.63vw;
    flex-wrap: nowrap;
  }

  .svg-batton { 
    width: 6.93vw;
    height: 6.93vw;
  }

  .svg-batton-google {
    width: 6.93vw;
    height: 6.93vw;
  }

  .button-apple,
  .button-google {
    width: 41vw;
  }

  .text-batton {
    font-size: 1.825vw;
  }
  
  .block-number, 
  .block-number-growth,
  .block-number-three {
    font-size: 2.347vw;
  }

  .block-number::after {
    height: 0.6vw;
  }

  .block-number-growth::after {
    height: 0.52vw;
  }
  
  .block-number-three::after {
    height: 0.52vw;
  }

  .title-chapter-players {
    padding: 0 9.3vw 7.4vw 36vw;
  }


  /*Блок футболист*/


  .block-footbaler {
    width: 100vw;
    position: relative;
    padding-top: 11.1vw;
  }


  .block-one {
    padding: 0 4.2vw 5vw 36vw;
  }

  .block-two,
  .block-three {
    padding: 5vw 4.2vw 5vw 36vw;
  }

  .block-number, .block-number-growth {
    font-size: 2.347vw;
  }

  .footbaler {
    width: 60vw;
    padding: 0;
    left: -20vw;
    top: 12%;
    height: 90vw;
  }

  .number-connection, 
  .number-collaboration, 
  .number-growth,
  .number-connection-basketbal, 
  .number-collaboration-basketbal, 
  .number-growth-basketbal {
    margin-bottom: 4vw;
  }


  /* Блок баскетболист*/

  .block-basketbal {
    padding-top: 11.5vw;
  }

  .block-basketbal-one {
    display: flex;
    flex-direction: column;
    padding: 0 42vw 5.2vw 3.3vw;
  }

  .block-basketbal-two, 
  .block-basketbal-three {
    display: flex;
    flex-direction: column;
    padding: 5.61vw 38vw 5.2vw 3.3vw;
  }

  .title-chapter-basketbal {
    padding: 0 9.4vw 7vw 3.3vw;
  }

  .basketbal {
    width: 56vw;
    top: 5.5%;
    right: 0;
  }

  .news-block-men, 
  .news-block-coach, 
  .news-block-two {
    flex-direction: column;
    height: auto;
  }

  .picture-news {
    width: 100vw;
    height: 76.8vw;
  }

  .number-post-coach {
    order: 0;
  }

  .text-block {
    padding: 0;
  }

  .news-text-men {
    padding: 11.6vw 9vw 13.1vw 4.2vw;
  }

  .news-text-coach {
    flex-basis: 0;
    padding: 11.6vw 9vw 13.1vw 4.2vw;
  }

  .text {
    font-size: 3.158vw;
    margin-top: 5vw;
    line-height: 28px;
  }

  .post-number,
  .post-number-coach {
    width: 15.5vw;
    height: 15.5vw;
    left: 4.2vw;
    margin-top: 66%;
  }

  .number {
    font-size: 3.800vw;
    flex-direction: column-reverse;
    line-height: 5.5vw;
    top: 56%;
  }


  /*Подвал*/



  .data-section {
    padding-top: 16.82vw;
  }

  .footer-batton {
    width: 17.5vw;
    height: 17.5vw;
  }

  .svg-button {
    height: 11.35vw;
    padding-left: 2.5vw;
    width: 12.7vw;
  }

  .footer-text {
    margin: 11vw 0 0 0;
  }

  .footer-text-title {
    font-size: 10.5vw;
    letter-spacing: 4px;
    padding: 0;
  }

  .footer-download-text {
    font-size: 4.712vw;
    line-height: 4.712vw;
    margin-top: 4.1vw;
    align-self: center;
    display: flex;
    padding: 0;
  }

  .section-button-footer {
    margin-top: 38vw;
  }

  .logo-footer {
    margin-top: 7.95vw;
    padding-bottom: 2.9vw;
  }

}



@media all and (min-width: 50px) and (max-width: 767px) {
  
  h1 {
    font-size: 8.75vw;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 8.750vw;
  }

  h3 {
    font-size: 7.188vw;
  }

  p {
    font-size: 5vw;
    line-height: 6vw;
  }

  /*Шапка сайта*/

  .block-header {
    background-image: url(../images/football_767.jpg);
    background-size: 130% 110%;
  }

  .header-content {
    padding: 9.5vw 6.3vw 26.9vw 6.3vw;
  }

  .logo-svg {
    width: 41vw;
    height: 11.3vw;
  }

  .header-text {
    margin-top: 42.5vw;
  }

  .block-one-text {
    padding-bottom: 9.36vw;
  }

  .block-two-text {
    padding-left: 15vw;
  }

  .header-button {
    flex-flow: column wrap;
    margin-top: 89px;
  }

  .button-apple, .button-google {
    width: 88vw;
    padding: 4.5px 0 4.5px 0;
  }

  .button-google {
    padding: 7px 0 7px 0;
  }

  .button-apple {
    margin-bottom: 15px;
    margin-right: 0px;
  }

  .svg-batton {
    width: 7.5vw;
    height: 7.5vw;
    margin: 0 1.8vw 1vw 26.3vw;
    align-self: center;
  }

  .svg-batton-google {
    width: 7.5vw;
    height: 7.5vw;
    margin: 0 1.8vw 0 26.3vw;
    align-self: center;
  }

  .text-batton {
    font-size: 2.5vw;
    letter-spacing: 0px;
  }


    /*Блок футболист*/

    
  .title-chapter-players {
    padding: 7.8vw 0 75vw 6.3vw;
  }

  .block-footbaler {
    width: 100vw;
    position: relative;
  }

  .footbaler {
    width: 55vw;
    top: 9%;
    left: unset;
    align-self: center;
    right: unset;
  }

  .block-number, .block-number-growth {
    font-size: 4.375vw;
    padding-right: 0.6vw;
    display: flex;
    position: relative;
    bottom: 0.5vw;
  }

  .block-number::after {
    height: 1.5vw;
    width: 65%;
    position: absolute;
    top: 5.5vw;
  }

  .block-number-growth::after {
    height: 1.5vw;
    width: 65%;
    position: absolute;
    top: 5.5vw;
  }

  /* Блок с батскетболистом*/

  .block-one {
    padding: 26vw 5.6vw 16.9vw 5.6vw;
    background-color: #fafafa;
  }

  .block-two, .block-three {
    padding: 19vw 5.6vw 17.2vw 5.6vw;
  }

  .block-number, 
  .block-number-growth, 
  .block-number-three {
    font-size: 4.375vw;
    padding-right: 3.2vw;
    position: relative;
  }

  .block-number-three::after {
    height: 1.5vw;
    width: 65%;
    position: absolute;
    top: 5.5vw;
  }

  .number-connection-basketbal, 
  .number-collaboration-basketbal, 
  .number-growth-basketbal, 
  .number-connection, 
  .number-collaboration, 
  .number-growth {
    margin-bottom: 9vw;
  }

  .basketbal {
    width: 94vw;
    align-self: center;
    top: 9%;
    right: 2.5vw;
  }

  .title-chapter-basketbal {
    padding: 6.25vw 5.6vw 76.6vw 5.6vw;
  }

  .block-basketbal-one {
    padding: 25vw 5.6vw 16.9vw 5.6vw;
    background-color: #fafafa;
  }

  .block-basketbal-two,
  .block-basketbal-three {
    padding: 18.8vw 5.6vw 16.9vw 5.6vw;
  }

 
  /*Колонка новостей*/

  .news-block-men, 
  .news-block-coach, 
  .news-block-two {
    display: unset;
    height: auto;
    position: relative;
  }

  .post-number,
  .post-number-coach {
    width: 21.25vw;
    height: 21.25vw;
    position: absolute;
    left: 6.3%;
    top: 94vw;
    margin: 0;
  }

  .picture-men {
    width: 100vw;
    height: 100%;
  }

  .picture-news {
    width: 100vw;
  }

  .news-text-men,
  .news-text-coach {
    padding: 11vw 5.6vw 22vw 5.6vw;
  }

  .text {
    margin-top: 7.5vw;
    font-size: 5vw;
    line-height: 5vw;
}

  .number {
    font-size: 4.375vw;
    line-height: 200%;
    margin-bottom: 15px;
    margin-top: 35%;
    height: 1.56vw;
  }


  /*Подвал*/


  .batton-download {
    flex-direction: column;
    align-self: center;
  }

  .footer-block-news {
    background-image: url("../images/game_767.jpg");
    padding: 100px 20px 10px 20px
  }

  .data-section {
    padding: 0;
  }

  .footer-batton {
    width: 23.8vw;
    height: 23.8vw;
  }

  .svg-button {
    height: 12.7vw;
    padding-left: 4.5vw;
    width: 14.8vw;
  }

  .footer-text {
    align-items: center;
    padding-top: 18vw;
  }

  .footer-text-title {
    font-size: 10vw;
    padding: 0;
    line-height: 10vw;
  }

  .footer-download-text {
    font-size: 4.3vw;
    line-height: 4.3vw;
    padding-top: 4.68vw;
  }

  .section-button-footer {
    flex-flow: wrap;
    margin-top: 20vw;
  }

  .logo-footer {
    margin-top: 25.6vw;
}


}













































