
@font-face {
    src:  
   url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
   url("../fonts/OpenSans-Bold.ttf") format("truetype");
   font-style:normal;
}

@font-face {
  font-family:'OpenSans-Regular';
  font-style:normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  color: #000000;
  src:url("../fonts/OpenSans-Regular.woff2")
}

@font-face {
  font-family:'OpenSans-Regular';
  font-style:normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  color: #000000;
  src:url("../fonts/OpenSans.woff")
}

@font-face {
  font-family:'OpenSans-Regular';
  font-style:normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  color: #000000;
  src:url("../fonts/OpenSans-Regular.ttf")
}



h1 {
  font-size: 90px;
  line-height: 100px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
}

h2 {
  font-size: 80px;
  line-height: 60px;
  color: #e7e7e7;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 36px;
  letter-spacing: 2px;
  color: #c1c1c1;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-size: 20px;
  letter-spacing: 1px;
  color:#000000;
  font-weight: 400;
}

@media only screen and (min-width: 640px) and (max-width: 960px) {
  h1 {
    font-size: 64px;
    letter-spacing: 3px;
    font-weight: 700;
  }
  
  h2 {
    font-size: 80px;
    line-height: 60px;
    text-transform: uppercase;
    }

  h3 {
    font-size: 32px;
    letter-spacing: 2px;
    line-height: 34px;
  }

  p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
  }

}

@media only screen and (min-width: 320px) and (max-width: 639px) {
  h3 {
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 34px;
  }
  
  h1 {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 60px;
    color: #e7e7e7;
    font-family: "Open Sans";
    font-weight: 700;
  }

  h2 {
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #e7e7e7;
    font-family: "Open Sans";
    font-weight: 700;
  }

  p {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 18px;
  }

}





* {
	margin: 0;
	padding: 0;
}

body {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}


/*ШАПКА*/

.block-header {
    display: flex;
    flex-direction: column;
    background-image: url("../img/football_1920.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-bottom: 110px;
    width: 100vw;
}

.block-header::after {
	content:"";
    background-color: rgba(27, 32, 69, 0.9);
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header-content {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.logo {
    position: relative;
    width: 190px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.header-text {
    margin-top: 280px;
    margin-left: 9%;
    margin-right: 9%;
    text-transform: uppercase;
    font-size: 90px;
    letter-spacing: 5px;
    color:
    #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
   
}

.block-one-header {
  display: flex;
}

.block-two-header{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px
}


/*Шапка кнопки*/

.header-button {
  display: flex;
  margin-top: 220px;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-between;
}

.header-button:nth-child(1n) {
   justify-content: space-between;
}

.icon {
	width: 48px;
	margin-right: 10px;
}

.button-apple {
  display: flex;
  width: 310px;
  height: 76px;
  border-radius: 50px;
  background-color: #5e42b0;
  border: none;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;
  margin-bottom: 5px;
}


.button-google {
  display: flex;
  width: 310px;
  height: 76px;
  border-radius: 50px;
  background-color: #5e42b0;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-google:hover  {
  position: relative;
  z-index: 2;
  background-color: #5e55b5;
}

.button-apple:hover  {
  position: relative;
  z-index: 2;
  background-color: #5e55b5;
}

.text-batton {
   display: flex;
   flex-direction: column;
   height: 40px;
   font-size: 14px;
   letter-spacing: 1px;
   color: #ffffff;
   font-family: "OpenSans-Regular";
   font-style:normal;
   font-weight: 400;
   text-transform:uppercase;
   align-items: flex-start;
}

.text-batton-two {
   display: flex;
   align-items: flex-start;
   font-family: "OpenSans-bold";
   font-style: normal;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 1px;
}

/*Блорк нвостей Спорт*/

.block-sport-news {
  display: flex;
  flex-direction: column;
}

.title-chapter-players {
  margin-left: 50vw;
  margin-top: 115px;
  font-size: 80px;
  line-height: 60px;
  color:#e7e7e7;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
 }

.title-chapter-basketbal {
  display: flex;	
  margin-left: 10vw;
  margin-top: 25px;
  font-size: 80px;
  line-height: 60px;
  color:#e7e7e7;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
 }

.news-players {
  display: flex;
  flex-direction: column;
}

.footbaler {
  background-image: url("../img/footballer_566.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 610px;
  right: 55%;
  height: 978px;
  position: absolute;
  margin-top: 45px;
}

.block-footbaler {
  display: flex;
  flex-direction: column;
}

.connection,
.collaboration,
.growth {
  display: flex;
  flex-direction: column;
  width: 716px;
  margin-left: 50%;
  margin-right: 10%;
}

.block-one {
  display: flex;
   width: 100vw;		
}

.block-two {
  display: flex;
  background-color: #f6f4fa;
  width: 100vw;	
}

.block-three {
  display: flex;
  background-color: #5e42b0; 
  width: 100vw;	
}

.text-athlets {
  max-width: 716px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.text-athlets-block,
.text-athlets-growth {
  max-width: 716px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.number-connection,
.number-collaboration,
.number-growth {
  display: flex;
  margin-top: 118px;
}

.number-connection-basketbal {
  display: flex;
  margin-top: 110px;
}

.number-collaboration,
.number-growth {
  margin-top: 55px;
}

.text-athlets-growth,
.athlets-text-three {
  color: #ffffff;
}

.block-number-growth {
  font-weight: 700;
  color: #ffffff;
  margin-right: 10px;
}

.block-number,
.block-number-growth {
  margin-right: 10px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  color:#0a0e34;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 15px;
  line-height: 34px;
}

.block-number::after {
  content: '';
  display: flex;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background:#5e42b0;
  flex-direction: column;
}

.block-number-growth::after {
  content:'';
  display: flex;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #ffffff;
  flex-direction: column;
}

.block-number-three::after {
  content:'';
  display: flex;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #ffffff;
  flex-direction: column;
}

/*Блок с баскетболистом*/

.basketbal-block {
  display: flex;
  flex-direction: column;
  position: relative;
}

.basketbal-block-text {
  display: flex;
  flex-direction: column;
  margin-top: 118px;
  width: 100vw;
}

.two,
.one,
.heading {
  display: flex;
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.three {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.pic {
  display: flex;
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-end;
}

.basketbal-plaer {
  background-image: url("../img/basketballer_991.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 991px;
  left: 42%;
  height: 815px;
  position: absolute;
  top: 45px;
}

.block-basketbal-one {
  display: flex;
   width: 100vw;	
}

.block-player-two {
  display: flex;
  background-color: #f5f6f7;
  width: 100vw;		
}

.block-player-three {
  background-color: #0a0e34;
  width: 100vw;	
}

.player-block-connection,
.player-block-collaboration{
  margin-left: 10%;
  margin-bottom: 58px;
}

.player-block-growth {
  margin-bottom: 58px;
  margin-left: 10%;	
}

.block-number-three {
  margin-right: 10px;
  font-weight: 700;
  color:#5e42b0;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 34px;
}

.player-block-collaboration {
  margin-right: 50%;
}

.number-connection-basketbal {
  margin: 80px 0 0 0;
}

.text-basketbal-one {
  padding-right: 35%;
}

.text-basketbal-one,
.text-basketbal,
.athlets-text-three {
  margin-top: 33px;
}



/*Колонка новостей*/

.news-column {
  display: flex;
  width: 100vw;
  flex-direction: column;
}

.news-text-men {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 730px;
  min-width: 490px;
} 

.number-post,
.number-post-coach,
.number-post-two {
  flex-basis: 50%;
  width: 795px; 
}

.number-post-coach {
  order: 1;
}

.news-block-men,
.news-block-coach,
.news-block-two {
  display: flex;
  flex-grow: 1;
  width: 100vw;	
}

.picture-men {
  display: flex;
  height: 730px;
  min-width: 490px;
  flex-basis: 50%;
}

.picture {
  width: 50vw;
  height: 730px;
}

.news-block {
  display: flex;
}

.post-number {
  display: flex;
  width: 166px;
  height: 153px;
  background-color: #5e42b0;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 46%;
  margin-top: 214px;
}

.post-number-coach {
  display: flex;
  width: 166px;
  height: 153px;
  background-color: #5e42b0;
  z-index: 1;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 214px;
  left: 46%;
}

.number {
  display: block;
  color:#f5f6f7;
  font-family: "OpenSans-Bold";
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 34px;
}

.number::after {
  content:'';
  display: block;
  width: 100%;
  height: 5px;
  background: #8f7bc8;
  flex-direction: column;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
}

.text-block {
  margin-left: 129px;
  max-width: 635px;
}

.text-block-coach {
  align-self: end;
  margin-right: 115px;
  max-width: 635px;
  margin-left: auto;	
}

.text {
  margin-top: 81px;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #000000;
  font-family: "OpenSans-Regular";
  font-weight: 400;
}




/*Секция подвала*/


.logo-footer {
  width: 195px;
  height: 55px;
  margin-top: 257px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  z-index: 1;
  justify-content: center;
}

.logo-icon-svg {
  z-index: 2;
}

.batton-download {
  display: flex;
  width: 100%;  
  z-index: 30;
  margin-top: 230px;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.download {
  display: block;
  width: 130px;
  height: 136px;
  background-color: #53399f;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  outline: none;
  z-index: 30;
}

.footer-batton {
  display: flex;
  width: 128px;
  background-color: #5e42b0;
  border-radius: 20%;
  height: 136px;
  z-index: 20;
}

.footer-batton:hover  {
  z-index: 2;
  background-color: #5e55b5;
}

.svg-button {
  display: flex;
  height: 84px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.footer-text {
  display: flex;
  flex-direction: column;
}

.footer-text-title {
  font-family: "OpenSans-bold";
  font-weight: 700;
  text-transform: uppercase;
  z-index: 30;
  font-size: 80px;
  letter-spacing: 4px;
  line-height: 60px;
  color: #ffffff;
  margin-left: 40px;
  padding-bottom: 20px;
}

.footer-download-text {
  font-size: 30px;
  line-height: 34px;
  color: #a496ca;
  font-family: "Open Sans";
  font-weight: 400;
  margin-left: 43px;
  text-transform: uppercase;
  z-index: 3;
}

.footer-block-news {
  display: flex;
  widht: 100vw;
  flex-direction: column;
  background-image: url("../img/game_1280.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 0;
  margin: 0;
}

.footer-block-news::after {
  content:"";
  background-color: rgba(27, 32, 69, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.data-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*Секция кнопок подвал*/

.section-button-footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 670px;
  justify-content: space-between;
  margin-top: 130px;
  z-index: 1;
}




@media only screen and (min-width: 640px) and (max-width: 960px) {

  

  .block-header {
    padding-bottom: 90px;
  }
  
  .header-text {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    margin-left: 9.8%;
    margin-right: 9.8%;
    font-size: 64px;
    letter-spacing: 3px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
  }

  .block-two-header {
    margin-left: 17%;
  }

 .header-button {
   display: flex;
   margin-top: 310px;
   margin-left: auto;
   margin-right: auto;
   justify-content: space-between;
 }

 .footbaler {
   background-image: url("../img/footballer_497.png");
   width: 497px;
   right: 56%;
   height: 699px;
   margin: 100px 0 0 0;
  }

  .title-chapter-players {
    margin-left: 38vw;
    margin-top: 64px;
    font-size: 80px;
    line-height: 60px;
    color:#e7e7e7;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
  }

 .title-chapter-basketbal {
   margin-left: 5vw;
   margin-top: 25px;
   font-size: 80px;
   line-height: 60px;
   color:#e7e7e7;
   font-family: "Open Sans";
   font-weight: 700;
   text-transform: uppercase;
  }


 .connection{
   margin-top: 80px;
 }

 .number-connection {
   margin: 0;
 }

 .number-collaboration, 
 .number-growth {
   display: flex;
   margin-top: 40px;
 }
 	
 .three {
   display: unset;
}
	
 .block-number, 
 .block-number-growth {
  margin-right: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 7px;
  line-height: 24px;
 }
 
  .block-number-three {
    color:#8765dd;
    margin-right: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Open Sans";
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 7px;
    line-height: 24px;
  }

     .connection, 
     .collaboration, 
     .growth {
      margin-left: 38%;
      margin-right: 5%;
    }

     .text-athlets-block, 
     .text-athlets-growth {
      margin-top: 30px;
      margin-bottom: 40px;
    }

    .images-basketbal {
      margin-left: auto;
      width: 436px;
    }

    .basketbal-plaer {
      background-position: left;
      width: 561px;	    
    }

   .basketbal-block-text {
     margin-top: 82px;
   }

    .number-connection-basketbal {
      margin-top: 60px;
    }

   .player-block-connection, 
   .player-block-collaboration, 
   .player-block-growth {
     margin-left: 5%;
     margin-bottom: 40px;
     margin-right: 40%;
   }

   .player-block-collaboration {
    margin-right: 44%;
  }

    .text-basketbal-one {
      width: 420px;
    }

    .text-basketbal-one, 
    .text-basketbal, 
    .athlets-text-three {
      margin-top: 34px;
    }

    .news-block-men, 
    .news-block-coach, 
    .news-block-two {
      display: unset;
      flex-grow: 1;
    }

    .picture-men {
      display: flex;
      height: 584px;
    }

   .picture {
     width: 100%;
     height: 584px;
   }

   .news-text-men {
    display: unset;
    flex-direction: column;
    height: 340px;
  }

  .text-block,
  .text-block-coach {
    margin-left: 3%;
    max-width: 660px;
    margin-top: 82px;
    margin-bottom: 110px;
  }

  .number-post, 
  .number-post-coach, 
  .number-post-two {
    width: 100%;
  } 

  .text {
    margin-top: 36px;
  }

  .post-number,
  .post-number-coach {
    display: flex;
    width: 116px;
    height: 116px;
    background-color:#5e42b0;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 3%;
    margin-top: 500px;
  }

  .batton-download {
    display: flex;
    margin-top: 130px;
    flex-direction: column;
  }

  .footer-batton {
    margin-bottom: 80px;
  }

  .footer-text-title {
    text-transform: uppercase;
    padding-bottom: 20px;
    font-size: 80px;
    letter-spacing: 4px;
    line-height: 60px;
    color:#ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    margin: 0;
  }

  .footer-download-text {
    margin: 0;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 60px;
    color:#a496ca;
    font-family: "Open Sans";
    font-weight: 400;
    text-align: center;
  }

  .section-button-footer {
    margin-top: 287px;
  }

  .logo-footer {
    margin-top: 57px;
    margin-bottom: 25px;
  }



}



@media only screen and (min-width: 320px) and (max-width: 639px) {

  .logo {
    padding-top: 34px;
    width: 134px;
    height: 38px;
  }

  .header-text {
    margin-top: 134px;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
  }

  .block-two-header {
    margin-left: 45px;
  }

  .header-button {
    margin-top: 90px;
    width: 280px;
    height: 88px;
    justify-content: space-between;
    flex-flow: column;
  }

  .button-apple, 
  .button-google {
    width: 280px;
    height: 36px;
    margin: 0;
  }

  .icon {
    height: 22px;
    width: 22px;
  }
  
  .text-batton {
    font-size: 8px;
    letter-spacing: 0px;
    justify-content: center;
  }

  .block-header {
    padding-bottom: 80px;
  }

  .footbaler {
    background-image: url("../img/footballer_192.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 192px;
    right: 20%;
    height: 281px;
    position: absolute;
    margin-top: 100px;
  }

  .title-chapter-players,
  .title-chapter-basketbal {
    margin-left: 5vw;
    margin-top: 22px;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 60px;
    color: #e7e7e7;
    font-family: "Open Sans";
    font-weight: 700;
    width: 100%
  }

  .basketbal-plaer {
    background-image: url("../img/basketballer_302.png");
    width: 302px;
    left: 3%;
    height: 248px;
    position: absolute;
    top: 85px;
}

  .block-one {
    background-color:#fafafa;
    margin-top: 244px;
  }
  
   .block-basketbal-one {
    background-color:#fafafa;
    margin-top: 230px;
   }
	
   .three {
    margin-right: auto;
    margin-left: auto;
   }	

  .connection, 
  .collaboration, 
  .growth {
    display: flex;
    width: 290px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .block-number, 
  .block-number-growth {
    font-size: 14px;
    letter-spacing: 1px;
    color: #0a0e34;
    display: flex;
    flex-direction: column;
    align-self: center;
    line-height: normal;
    margin: 0 10px 0 0;
  }

  .block-number::after {
    height: 4px;
  }

  .connection {
    margin-top: 25px;
  }
  
  .number-connection, 
  .number-collaboration, 
  .number-growth {
    display: flex;
    margin-top: 57px;
  }

  .text-athlets-block, 
  .text-athlets-growth {
    margin-top: 25px;
    margin-bottom: 55px;
  }

  .text-basketbal-one, 
  .text-basketbal, 
  .athlets-text-three {
    margin-top: 33px;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .basketbal-block-text {
    margin: 0;
  }

  .images-basketbal {
    order: -1;
  }

  .player-block-connection, 
  .player-block-collaboration, 
  .player-block-growth {
    margin-bottom: 58px;
    display: flex;
    width: 290px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
	
  .text-basketbal-one, 
  .text-basketbal, 
  .athlets-text-three {
    padding: 0;
    margin: 25px 0 0 0;
  }
 
  .block-number, 
  .block-number-growth,
  .block-number-three {
    font-size: 14px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-self: center;
    line-height: normal;
  }

  .news-block-men, 
  .news-block-coach, 
  .news-block-two {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 565px;
  }

    .picture-men {
      display: flex;
      width: 100%;
      height: 351px;
    }

   .picture {
     width: 100vw;
     height: 350px;
   }

   .news-text-men {
    flex-direction: column;
    height: 340px;
  }

  .text-block,
  .text-block-coach {
    margin-left: 3%;
    max-width: 660px;
    margin-top: 82px;
    margin-bottom: 110px;
  }

  .number-post, 
  .number-post-coach, 
  .number-post-two {
    width: 100%;
  }

  .post-number,
  .post-number-coach {
    width: 70px;
    height: 70px;
    left: 20px;
    margin-top: 300px;
  }

  .number {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: unset;
  }

  .text {
    margin-top: 24px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
    width: 280px;
  }

  .text-block, 
  .text-block-coach {
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 0;
    align-self: flex-start;
  }

  .news-text-men {
    height: auto;
    max-width: 320px;
    order: 1;
  }

  .batton-download {
    margin-top: 98px;
    flex-direction: column;
  }

  .footer-batton {
    width: 70px;
    height: 70px;
  }
  
  .svg-button {
    height: 44px;
    margin-top: 13px;
  }

  .footer-text-title {
    line-height: unset;
    font-size: 32px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    align-self: center;
  }

  .footer-text {
    margin-top: 60px;
  }

  .footer-download-text {
    margin: 0;
    font-size: 14px;
    align-self: center;
  }

  .section-button-footer {
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin: 75px 0 0 0;
    width: auto;
    height: 88px;
  }
  
  .logo-footer {
    width: 134px;
    height: 40px;
    margin-top: 81px;
    margin-bottom: 10px;
  }












}















































































